/* Fonts */
.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}




/* Main */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 40%;
    background-image: url(/images/background.jpg);
    background-size: cover;
    background-position: center;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.logobox {
    /* background-color: rgba(0, 0, 0, 0.4); */
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.logobox img {
    width: 10rem;
}

.logobox span {
    font-family: "Michroma", sans-serif;
    font-size: 5rem;
    color: #FFFFFF;
    font-weight: 700;
    display:flex;
    align-items: center;
    justify-content: center;   
}

.sidebar > p {
    /* background-color: aqua; */
    display: flex;
    align-self:center;
    margin-top: auto;
    margin-bottom: 15px;
    font-family: "Helvetica", sans-serif;
    color:#FFFFFF;
    gap: 0.2em;
}

p > a {
    color:#FFFFFF;
    text-decoration: underline;
}